{% extends 'base.html.twig' %}


        {% block body %}
            <p>Results: {{results|length}}</p>
                <div class="navigation">
                        {{ knp_pagination_render(results) }}
                </div>


            <ol>
            {% for result in results %}

                <li>{{ result.word }} ({{ result.bookcode }} {{ result.page }}:{{ result.paragraph }})</li>

            {%  endfor %}
            </ol>
            {#{% set currentPage = result.page %}#}
            {% set bookcode = results|last.bookcode %}
            {% set lastpage = results|last.page%}
            {% set nextpage = lastpage|number_format + 1 %}
            {% set previouspage = lastpage|number_format - 1 %}

            <a style="position: absolute; left: 25%"  href="{{ path('egw_read_chapter', {'book': bookcode, 'page': nextpage }) }}">p.{{ previouspage }}<<</a>
            <span style="position: absolute; left: 50%" >p.{{ lastpage }}</span>
            <a style="position: absolute; left: 75%" href="{{ path('egw_read_chapter', {'book': bookcode, 'page': nextpage }) }}">>>p.{{ nextpage }}</a>





        {% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{  asset('js/hymn_show.js') }}"></script>
{%  endblock %}