{% extends 'base.html.twig' %}

{% block title %}Hymns{% endblock %}

{% block body %}
    <h1>Hymns</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hymn.id }}</td>
            </tr>
            <tr>
                <th>Number</th>
                <td>{{ hymn.number }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ hymn.title }}</td>
            </tr>
            <tr>
                <th>Verses</th>
                <td>{{ hymn.verses }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hymns_index') }}">back to list</a>

    <a href="{{ path('hymns_edit', {'id': hymn.id}) }}">edit</a>

    {{ include('hymns/_delete_form.html.twig') }}
{% endblock %}
