{% extends 'base.html.twig' %}


        {% block body %}
            <p>Results: {{results|length}}</p>
                <div class="navigation">
                        {{ knp_pagination_render(results) }}
                </div>


            <ol>
            {% for result in results %}

                <li>{{ result.word }} ({{ result.book }} {{ result.chapter }}:{{ result.verse }})</li>

            {%  endfor %}
            </ol>






        {% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{  asset('js/hymn_show.js') }}"></script>
{%  endblock %}