{% extends 'base.html.twig' %}


        {% block body %}
            <p>Total verses found: {{results.getTotalItemCount}}</p>
                <div class="navigation">
                        {{ knp_pagination_render(results) }}
                </div>


            <ol>
            {% for result in results %}

                <li>{{ result.word }} (<a href="{{ path('read_chapter', {'book': result.book, 'chapter': result.chapter}) }}">{{ result.book }} {{ result.chapter }}:{{ result.verse }})</a></li>

            {%  endfor %}
            </ol>






        {% endblock %}

{% block javascripts %}
        {{ parent() }}
        <script src="{{  asset('js/hymn_show.js') }}"></script>
{%  endblock %}