{% extends 'base.html.twig' %}

{% block meta %}
    {{ parent() }}

    <meta http-equiv="refresh" content="60">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/bible.css') }}">

{% endblock %}

        {% block body %}

       {#<body onload="getSeconds(); startTime(); move()">#}
{##}


        <div id="myProgress">
            <div id="myBar"></div>
        </div>

        <div class="bibleverse-container">
            <p class="bibleverse"> {{ word }}</p>
            <a class="bibleverse" href="/kjv/{{ book }}/{{ chapter }}">({{book }} {{ chapter }}:{{ verse }})</a>
        </div>


        {% endblock %}




        {% block javascripts %}
            {{ parent() }}

                <script src="{{ asset('js/minute.js') }}"></script>
                {#<script src="/build/app.js"></script>#}
        {% endblock %}