{% extends 'base.html.twig' %}

{% block meta %}
<meta http-equiv="refresh" content="60">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/bible.css') }}">

{% endblock %}

        {% block body %}

        <div class="bibleverse-container">
            <p class="bibleverse"> {{ word }}</p>
            <a class="bibleverse" href="/kjv/{{ book }}/{{ chapter }}">({{book }} {{ chapter }}:{{ verse }})</a>
        </div>


        {% endblock %}




        {% block javascripts %}
            {{ parent() }}

            {{ encore_entry_script_tags('app') }}

            <!-- Renders app.js & a webpack runtime.js file
                <script src="/build/runtime.js"></script>
                <script src="/build/app.js"></script> -->
        {% endblock %}