{% extends 'base.html.twig' %}

{% block title %}Sabbath index{% endblock %}

{% block body %}
    <h1>Sabbath index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                {#<th>Image</th>#}
                <th>Bible Reference</th>
                {#<th>Word</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sabbath in sabbaths %}
            <tr>
                <td>{{ sabbath.id }}</td>
                <td>{{ sabbath.title }}</td>
                {#<td><img style="width:30%" src="https://s3-ap-southeast-2.amazonaws.com/adventistsermonvideos/sabbath/{{sabbath.image}}"></td>#}
                <td>{{ sabbath.biblereference }}</td>
                {#<td>{{ sabbath.word }}</td>#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <td>
                        <a href="{{ path('sabbath_show', {'id': sabbath.id}) }}">show</a>
                        <a href="{{ path('sabbath_edit', {'id': sabbath.id}) }}">edit</a>
                    </td>




                {% else %}
                    <td>
                        <a  href={{ path('app_login') }}>Sign In to Edit</a>
                    </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        <a href="{{ path('sabbath_new') }}">Create new</a>

    {% else %}
        <td>
            <a  href={{ path('app_login') }}>Sign in to add a post</a>
        </td>
    {% endif %}

{% endblock %}
