{% extends 'base.html.twig' %}

{% block title %}Sabbath index{% endblock %}

{% block body %}
    <h1>Sabbath index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                {#<th>Image</th>#}
                <th>Bible Reference</th>
                {#<th>Word</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sabbath in sabbaths %}
            <tr>
                <td>{{ sabbath.id }}</td>
                <td>{{ sabbath.title }}</td>
                {#<td><img style="width:30%" src="https://s3-ap-southeast-2.amazonaws.com/adventistsermonvideos/sabbath/{{sabbath.image}}"></td>#}
                <td>{{ sabbath.biblereference }}</td>
                {#<td>{{ sabbath.word }}</td>#}
                <td>
                    <a href="{{ path('sabbath_show', {'id': sabbath.id}) }}">show</a>
                    <a href="{{ path('sabbath_edit', {'id': sabbath.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('sabbath_new') }}">Create new</a>
{% endblock %}
