{% extends 'base.html.twig' %}

{% block title %}Books{% endblock %}

{% block body %}
    <h1>Books</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ book.id }}</td>
            </tr>
            <tr>
                <th>Bookcode</th>
                <td>{{ book.bookcode }}</td>
            </tr>
            <tr>
                <th>Booktitle</th>
                <td>{{ book.booktitle }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ book.creationDate ? book.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Totalparagraphs</th>
                <td>{{ book.totalparagraphs }}</td>
            </tr>
            <tr>
                <th>Display_status</th>
                <td>{{ book.displayStatus }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('egw_books_index') }}">back to list</a>

    <a href="{{ path('egw_books_edit', {'bookcode': book.bookcode}) }}">edit</a>

    {{ include('egw_books/_delete_form.html.twig') }}
{% endblock %}
